.modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    border: 2px solid #FFF;
    background-color: #FFF;
    width: 400px;
    border-radius: .5rem;
    box-shadow: 0px 0px 5px 5px #303030;
}

.modal-title {
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
    height: 35px;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    background-color: #888;
    color: #EFEFEF;
    margin-bottom: 4px;
}

.modal-title > div {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0% , -50%);;
}

.modal-title-text {
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-title-buttons {
    right: 0;
    text-align: center;
}

.modal-title-buttons > div {
    width: 30px;
    cursor: pointer;
}

.modal-title-buttons > div:hover {
    color: #069;
}

.modal-content {
    padding: 5px;
    font-size: 1rem;
    background-color : #FEFEFE;;
}

.modal-buttons {
    text-align: right;
    background-color : #FEFEFE;;
    height: 30px;
    
}

.modal-buttons > div {
    vertical-align: top;
    display: inline-block;
    min-width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #CCC;
    font-weight: bold;
    border-radius: .25rem;
}

.modal-buttons > div:hover {
    border: 2px solid #069;
}

.mymusic-modal-button {
    height: 100%;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.mymusic-modal-button > p {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0% ,-50%);
}

.mymusic-modal-inputtext{
    width: 100%;
    margin-bottom : 2px;
    margin-top: 2px;
}

.mymusic-modal-inputtext > input[type="text"] {
    width: 100%;
    height: 30px;
    border: 2px solid #303030;
    padding-left: 5px;
    padding-right: 5px;
}

.mymusic-modal-uploadlist {
    max-height: 300px;
    overflow-y: scroll;
}

.mymusic-modal-uploadlist-item {
    border: 2px solid #808080;
    margin-top : 3px;
    margin-bottom: 3px;
    position: relative;
}

.mymusic-modal-uploadlist-item > div {
    vertical-align: top;
    display: inline-block;
    font-size: 0.8rem;
}

.mymusic-modal-uploadlist-item-first {
    width: 72%;
    overflow: hidden;
}

.mymusic-modal-uploadlist-item-first > p {
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mymusic-modal-uploadlist-item-first > p:hover {
    display: inline-block;
    white-space: normal;
}

.mymusic-modal-uploadlist-item-second {
    width: 20%;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
}

.mymusic-modal-uploadlist-item-third {
    width: 8%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: red;
}




.mymusic-upload-button {
    display: none;
}

.mymusic-upload-label {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.mymusic-upload-label > p {
    position: relative;
    top: 50%;
    transform: translate(0% ,-50%);
}



