.mymusicnames-list-item-wrap {
    width: 100%;
    padding-right: 50px;
}

.mymusicnames-list-item-wrap:hover {
    padding-right: 0px;
    padding-left: 50px;
    transition: padding 0.5s 0s;
}


.mymusicnames-list-item {
    position: relative;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid #888;
    cursor: pointer;
}

.mymusicnames-list-item:hover {
    background-color: #EEE;
}


.mymusicnames-list-item > p {
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
}