* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.header-auth {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}


.auth-before-login {
    position: relative;
    display: inline-block;
    height: 100%;
    color: #BBB;
    vertical-align: top; 
}

.auth-userinfo-wrap {
    position: relative;
    display: inline-block;
    height: 100%;
    color: #BBB;
    vertical-align: top;
}

.auth-userinfo {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0% , -50%);
}

.auth-userinfo-icon-wrap {
    display: inline-block;
    color: #BBB;
    margin-right: 3px;
    margin-left: 3px;
}

.auth-userinfo-icon {
    color: #00EE88;
}

.auth-userinfo > div{
    display: inline-block
}





.auth-loginout-button-wrap {
    display: inline-block;
    height: 100%;
}





.auth-loginout-button {
    position: relative;
    vertical-align: top;
    display: inline-block;
    color: #BBB;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.auth-loginout-button:hover {
    color: #00EE88;
}

.auth-loginout-button::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 4px;
    background-color: #00EE88;
    transform: translate(-100% , 0%);   
    opacity: 1;
}

.auth-loginout-button::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 4px;
    background-color: #00EE88;
    transform: translate(100% , 0%);   
    opacity: 1;
}

.auth-loginout-button:hover::after {
    opacity: 1;
    transform: translate(0% , 0%);
    transition: transform 0.8s 0s;
}

.auth-loginout-button:hover::before {
    opacity: 1;
    transform: translate(0% , 0%);
    transition: transform 0.8s 0s;
}

.auth-loginout-button > p {
    position: relative;
    top: 50%;
    transform: translate(0% , -50%)
}

.auth-loginout-button > p > *{
    vertical-align: middle;
}

.auth-loginout-button > i {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
    margin-left: 2px;
    margin-right: 2px;
}

.loginout-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    text-decoration: none;
}
