* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.header-auth {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}



.auth-userinfo-wrap {
    position: relative;
    display: inline-block;
    height: 100%;
    color: #BBB;
    vertical-align: top;
}

.auth-userinfo {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0% , -50%);
}

.auth-userinfo-icon-wrap {
    display: inline-block;
    color: #BBB;
    margin-right: 3px;
    margin-left: 3px;
}

.auth-userinfo-icon {
    color: #00EE88;
}

.auth-userinfo > div{
    display: inline-block
}





.auth-loginout-button-wrap {
    display: inline-block;
    height: 100%;
}

.auth-loginout-button {
    display: inline-block;
    color: #BBB;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 50%;
    transform: translate(0% , -50%);
}

.auth-loginout-button:hover {
    color: #FEFEFE;
}


.auth-loginout-button > i {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
    margin-left: 2px;
    margin-right: 2px;
}

.loginout-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: bold;
    text-decoration: none;
}



.hidden {
    display: hidden;
}