.maindiv {
    margin-right: auto;
    margin-left: auto;

    border: 1px solid black;
}

.mainform {

}

.maintable {
    
}

.maintable > td {
    border: 1px solid black;
}

.idinput {
    
}

.pwinput {
    
}

.signinbutton {

}

.signupbutton {

}