.musicplayer2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

}

.musicplayer-down {
    bottom: -100px;
    transition: bottom 1s;
}

.musicplayer-up {
    bottom : 0px;
    transition: bottom 1s;
}

.musicplayer2 .scroller-rotate {
    transform: rotate(180deg);
    transition: transform 1s;
}

.musicplayer2 .scroller-none {
    transform: rotate(0deg);
    transition : transform 1s;
}

.musicplayer2 .scroller {
    display: flex;
    justify-content: flex-start;
}

.musicplayer2 .scroller > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40px;
    border: 4px solid #303030;
    border-radius: 0.5rem;
    cursor: pointer;
}



.musicplayer2 .controller {
    display: flex;
    align-content: center;
    background-color: #303030;
    color: #EEE;
    font-family: 'jua';
    height: 100px;
    border: 3px solid #CCC;;
}

.musicplayer2 .controller > .left {
    flex : 7 0 auto;
    display: inline-flex;
}

.musicplayer2 .controller > .left > .img-wrap {
    position: relative;
    width: 94px;
}

.musicplayer2 .controller > .left > .img-wrap::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.musicplayer2 .controller > .left > .img-wrap > .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

.musicplayer2 .controller > .left > .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    
    
} 

.musicplayer2 .controller > .left > .info > .text {
    display: flex;
    align-items: center;
    flex: 1 0 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.musicplayer2 .controller > .left > .info > .text > div {
    width: 100%;
    padding : 3px 10px 3px 10px;
    border-radius: 1000rem;
    background-color: #FFF;
    color: #303030;
    
    border: 6px double #CCC;
}


.musicplayer2 .controller > .left > .info > .progress {
    
    flex : 1 0 40px;    

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.musicplayer2 .controller > .left > .info > .progress > .time {
    user-select: none;
}

.musicplayer2 .controller > .left > .info > .progress > .progressbar {
    flex-grow: 1;
    align-content: center;
    height: 18px;
    border: 3px solid #CCC ;
    position: relative;
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    --progressbar-left : 50%;
}

.musicplayer2 .controller > .left > .info > .progress > .progressbar::before {
    
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 1000px;
    border: 4px double #FFF;
    background-color: #303030;
    top: 50%;
    left: var(--progressbar-left);
    transform : translate(0% , -50%);
}

.musicplayer2 .controller > .center {
    flex : 3 0 auto;
    display: inline-flex;
    flex-direction: column;
}

.musicplayer2 .controller > .center > .buttons {
    flex: 1 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 5px
}

.musicplayer2 .controller > .center > .buttons1 > .button{
}

.musicplayer2 .controller > .center > .buttons2 > .button {
    
}

.musicplayer2 .controller .button {
    cursor: pointer;
    border: 6px double #CCC;
    background-color: #FFF;
    color: #303030;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius: 1000px;
    margin : 0px 10px;
}

.musicplayer2 .controller .button:hover {
    background-color: #303030;
    color: #FFF;
}


.musicplayer2 .controller > .right {
    width: 80px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #CCC;
}

.musicplayer2 .controller > .right:hover {
    background-color: #FFF;
    color: #303030;
}

.musicplayer2 .controller > .right > div {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}