.musicplayer {
    bottom: 0;
    border: 2px solid #303030;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #FEFEFE;
    width: 370px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.top-wrap {
    height: 100%;
}

.top-wrap > div {
    display: inline-block;
    vertical-align: top;    
}

.img-wrap {
    position: relative;
    width: 66px;
}

.img-wrap::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    position: relative;
    width: 170px;
    height: 100%;
    border-right: 1px solid #303030;
    border-left: 1px solid #303030;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
}

.info > div {
    position: relative;
    height: calc(100% /3);
    overflow: hidden;
}

.info > div > p {
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
    

}

.progress-wrap {
    width: 100%;
    border: 2px solid #303030;
    border-radius: 1rem;
}

.progress {
    background-color: #0AC8;
    height: 100%;
    text-align: center;
    border-radius: 0.8rem;
    color: #303030;
    font-size: 0.8rem;
}

.singer {
    font-weight: bold;      
}

.buttons {
    width: 130px;
    height: 100%;
    position: relative;
}

.button {
    height: calc(100% / 3 * 2);
}

.button > div {
    vertical-align: top;
    display: inline-block;
    width: calc(100% / 3);
    position: relative;
    height: 100%;
    cursor: pointer;
}

.button > div:hover {
    color: #069;
}


.button > div > i {
    position : relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.musicplayer-list-up {
    position: relative;
    width: 100%;
    height: calc(100% / 3);
    border: 1px solid #CCC;
    background-color: #303030;
    text-align: center;
    color: #CCC;
    cursor: pointer;
}

.musicplayer-list-up:hover {
    color: white;;
}

.musicplayer-list-up > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}





.bottom-wrap {
    display: block;
    width: 100%;
    overflow : hidden;
}

.playing-list {
    display: block;
    width: calc(100% + 17px);
    overflow-y: scroll;
    height: 30vh;
    overflow-x: hidden;
}

.playing-list-item {
    height: 40px;
    border-right: 2px solid #CCC;
    border-left: 2px solid #CCC;
    
    border-top: 1px solid #CCC;
    
    border-bottom: 1px solid #CCC;

    background-color: #FEFEFE;
    cursor: pointer;
}

.playing-list-item:hover {
    border: 2px solid #069;
    background-color: #CCC;
}

.playing-list-item > div{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.playing-list-number {
    width: 15%;
    text-align: center;
    font-weight: bold;
}

.playing-list-singer {
    width: 30%;
}

.playing-list-song {
    width: 40%;
}

.playing-list-time {
    width: 15%;
    color: black;
    text-align: center;
}

.playing-list-item > div > p {
    position : relative;
    top: 50%;
    transform: translate(0  , -50%);
}

.showlist {
    display: none;
    transition: all 1s 0s;
}


.playing-list-button {
    width: 100%;
    background-color: #FEFEFE;
    height: 35px;
}

.playing-list-button > div {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 3);
    text-align: center;
    cursor: pointer;
    
    border: 2px solid #CCC;
    height: 100%;
    position: relative;
}

.playing-list-button > div > i {
    position: relative;
    vertical-align: top;
    top: 50%;
    transform: translate(0% , -50%);
}

.unchecked {
    color: #CCC;
}

.removemode {
    color: red;
}

.isplaying {
    display: none;
}