.top100 {
    flex: 9 1 auto;
    display: flex;
}

.top100-padding {
    flex: 2 2 auto;
}

.top100-list {
    flex: 3 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'jua';
    margin-top: 10px;
    margin-bottom : 80px;
}

.top100-list-item {
    border: 2px solid #CCC;
    margin-bottom: 1px;
    display: flex;
    cursor: pointer;
}

.top100-list-selected {
    box-shadow: 0px 0px 5px 5px #888;
    margin : 8px 0px;
    transition: all .5s 0s;
}

.top100-list-unselected {
    box-shadow: none;
    margin : 0px 0px;
    transition: all .5s 0s;
}

.top100-list-item:hover {
    border: 3px solid #069A;
}

.top100-list-item-ranking {
    flex: .5 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous' , 'cursive';
    font-size: 2rem;
}


.top100-list-item-img {
    flex: .5 1 50px;
    position: relative;
}

.top100-list-item-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.top100-list-item-album-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border : 2px solid #CCC;
    border-radius: 0.5rem;
}

.top100-list-item-info {
    flex : 2 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: rem;
}

.top100-list-item-song {
    flex: 1 0 auto;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.top100-list-item-singer {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.top100-list-item-album {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    color: #CCC;
}

.top100-list-button:hover {
    border: 2px solid #069;
    border-radius: 0.5rem;
}

.top100-list-button:hover > i {
    color: #069;
    transform: rotateX(360deg);
    transition: transform 0.6s 0s ease-in-out;
}   

.top100-bottom {
    position: fixed;
    bottom: -80px;
    left: 0;
    right: 0;
    height : 80px;
    border-top: 4px solid #EEE;
    background-color: #303030;
}

.top100-bottom-show {
    bottom : 0px;
    transition: bottom 1s 0s;
}

.top100-bottom-hide{
    bottom : -80px;
    transition: bottom 1s 0s;
}

.top100-bottom-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.top100-bottom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'jua';
    color: #EEE;
    cursor: pointer;
    padding: 8px;
    border: 2px solid #EEE;
    border-radius: 1rem;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #EEE;
}

.top100-bottom-button:hover {
    color: #069;
    border: 2px solid #069;
    box-shadow: 0px 0px 2px 2px #069;
}

.top100-bottom-button > i {
    padding: 0px 8px;
}