* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top100 {
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0%);
}

.top100 > div {
    display: inline-block;
    vertical-align: top;
}

.top100-left {
    padding: 10px;
}
.top100-list {
    text-align: center;
}

.top100-list-item { 
    position: relative;
    width: 706px;
    border: 2px solid #CCC;
    margin-bottom: 1px;
}

.top100-list-checked {
    background-color: #EEE;
}


.top100-list-item:hover {
    transform: scale(1.05);
    border: 3px solid #EEE;
    box-shadow: 0px 0px 8px 8px #CCC;
    transition: all 0.5s 0s;
    margin-bottom: 10px;
    margin-top: 15px;
}

.top100-list-item > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100px;
}

.top100-list-item-ranking {
    width: 100px;
    font-family: 'Righteous' , 'cursive';
    font-size: 2rem;

}

.top100-list-item-ranking > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.top100-list-item-img {
    position: relative;
    width: 100px;
}

.top100-list-item-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.top100-list-item-album-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border : 2px solid #CCC;
    border-radius: 0.5rem;
}

.top100-list-item-info {
    width: 300px;
    padding-left: 20px;
}

.top100-list-item-info > div {
    position: relative;
    height : 33.33%;
}

.top100-list-item-info > div > p {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0 , -50%);
}

.top100-list-item-song {
    font-weight: bold;
}

.top100-list-item-singer {

}

.top100-list-item-album {
    color: #CCC;
}

.top100-list-item-buttons {
    position: relative;
    width: 200px;
    text-align: center;
    
    border-left: 2px solid #CCC;
}


.top100-list-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
    padding: 8px;
    color: #303030;
    cursor: pointer;
}

.top100-list-button:hover {
    border: 2px solid #069;
    border-radius: 0.5rem;
}

.top100-list-button:hover > i {
    color: #069;
    transform: rotateX(360deg);
    transition: transform 0.6s 0s ease-in-out;
}   

.top100-right {

}