.header-search {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
}

.header-search > div {
    height: 35px;
    background-color: #EFEFEF;
}

.header-search .header-search-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    border-right : 2px solid #BBB;
    border-top : 2px solid #BBB;
    border-bottom : 2px solid #BBB;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.header-search .header-search-text-wrap {
    border-top : 2px solid #BBB;
    border-bottom : 2px solid #BBB;
}

.header-search .header-search-text {
    border:none;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.header-search .header-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 2px solid #BBB;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    cursor: pointer;
    font-family: 'jua';
}

.header-search .header-search-button:active {
    font-weight: bold;
    color: #069;
}
