.mymusic

.mymusic-table-header {
    position: relative;
    font-weight: bold;
    height: 50px;
    background-color: #EEE;
    border-bottom: 3px double #CCC;
}

.mymusic-table-header > div {
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.mymusic-table-header > div > p {
    position: relative;
    top: 50%;
    transform: translate(0% , -50%);
    text-align: center;
}


.mymusic-table-scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    width: calc(100% + 18px);
    max-height: calc(100vh - 130px);
}

.mymusic-table-items {
    height: 50px;
    cursor: pointer;
}

.mymusic-table-items:hover {
    border-top: 2px dotted #CCC;
    border-bottom: 2px dotted #CCC;
    background-color: #EEE;
    transition: background 0.6s 0s;
}

.mymusic-table-items > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.mymusic-table-items > div > p {
    position: relative;
    top: 50%;
    transform: translate(0% , -50%);
}

.mymusic-table-number {
    position: relative;
    width: 10%;
}

.mymusic-table-number > p {
    text-align: center;
}

.mymusic-table-song {
    width: 40%;
}


.mymusic-table-singer {
    width: 40%;
}


.mymusic-table-time {
    width: 10%;
}

.table-vertical-line {
    border-right: 2px solid #CCC;
}

