.minimusicplayer {
    display: flex;
    align-items: center;
    justify-content: center;

    
    padding: 0 10px;
}

.minimusicplayer > div {
    
    color: #EEE;
    background-color: #303030;
    padding: 10px;
    border-radius: 1rem;
    border: 2px solid #EEE;
    box-shadow: 0px 0px 3px 3px #FFF000;
    cursor: pointer;
}

.minimusicplayer > div:hover {
    box-shadow: 0px 0px 8px 4px #FFF000;
    transition: box-shadow .3s 0s;
}

.minimusicplayer > div > span {
    font-family: 'jua';
    font-size: 1.2rem;
    margin-left: 5px;
}


.show {
    display: flex;
}

.hide {
    display: none;
}