.searchview {
    height: 100%;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    overflow: hidden;
}

.searchview-header {
    display: flex;
    font-family: 'jua';
    border-bottom: 4px solid #303030;
    overflow: hidden;
    
    height: 50px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
}

.searchview-header-item {
    padding: 5px;
    padding-top: 5px;
    border: 4px solid #303030;
    border-bottom: none;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    min-width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    top: 10px;
    background-color: #EEE;
    position: relative;
}


.searchview-header-item:hover {
    cursor: pointer;
    color: #069;
    top: 0px;
    padding-top: 10px;
    transition: top 0.5s 0s , padding-top 0.5s 0s;
}

.searchview-header-item-selected {
    color: #EEE;
    top: 0px;
    padding-top: 10px;
    background-color: #303030;
}

.searchview-message {
    font-family: 'jua';
    font-size: 1.4rem;
    padding: 10px;
    padding-bottom: 0px;
    height: 50px;
}

.searchview-body {
    display: inline-block;
    width: 100%;
    height: calc(100% - 50px);
    padding: 5px;
    padding-top: 0px;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.flex-wrapping {
    padding: 8px;
}

.searchview-body-list {
    display: flex;
    flex-wrap: wrap;
}

.searchview-body-item {
    display: flex;
    border: 2px solid #EEE;
    box-shadow: 0px 0px 5px 5px #AAA;
    padding: 10px;
    border-radius: .5rem;
}

.searchview-body-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px #303030;
    transition: box-shadow .5s 0s;
}

.searchview-body-item-selected {
    box-shadow: 0px 0px 5px 5px #0AC !important;
    transition: box-shadow .5s 0s;
}

.searchview-body-item-unselected {
    box-shadow: 0px 0px 5px 5px #AAA;
    transition: box-shadow .5s 0s;
}

.searchview-body-item-img-wrap {
    width: 100px;
    height: 100px;
    position : relative;
}

.searchview-body-item-img::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.searchview-body-item-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchview-body-item-info {
    display: flex;
    flex-direction: column;
}

.searchview-body-item-info > div {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    font-family: 'jua';
}

.searchview-bottom-bar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: -60px;
    height: 60px;
    background-color: #303030;
    color: #EEE;
    font-family: 'jua';
    font-size: 1.2rem;
    display: flex;
    align-items: stretch;
    
    flex-wrap: wrap;
}

.searchview-bottom-bar-text {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchview-bottom-bar-buttons {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.searchview-bottom-bar-button {
    border: 4px double #EEE;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 5px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    margin : 0px 5px;
}

.searchview-bottom-bar-button > p {
    padding-left: 5px;
}

.searchview-bottom-bar-button:hover {
    cursor: pointer;
    border-color: #0AC;
    color: #0AC;
}

.searchview-bottom-bar-show {
    bottom: 0px;
    transition: bottom 1s 0s;
}

.searchview-bottom-bar-hide {
    bottom : -60px;
    transition: bottom 1s 0s;
}

@media (max-width  : 700px) {
    .searchview-bottom-bar-button > p {
        display: none;
    }
}