.searchview {
    position: relative;
    left: 50%;
    transform: translate(-50% , 0);
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.searchview .rightmenu {
    position: fixed;
    right: 20px;
    top: 20px;
    border: 2px solid #CCC;
}

.searchview .rightmenu > .menu {
    padding : 10px;
    border: 2px solid #CCC;
    background-color: #EFEFEF;
    cursor: pointer;
}
.searchview .rightmenu > .menu:hover {
    background: #303030;
    color: #CCC;
}