.mymusic {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50% , 0);
}

.mymusic > div {
    display: inline-block;
    vertical-align: top;
}


.mymusic-left {
    min-width: 300px;
}

.mymusic-center {
    width: 800px;
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    overflow : hidden;
}

.mymusic-right {
    min-width: 250px;
    border: 1px solid #CCC;
    margin-left: 20px;
}

