.top100modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    min-width: 400px;
    border: 3px solid #EEE;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px 8px #333;
    z-index: 1;
    background-color: white;
}

.top100modal .modal-title {
    background-color: #EEE;
    border: 1px solid #303030;
    display: flex;
    align-items: center;
    color: #303030;
    padding-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 50px;
    border : 3px solid #303030;
}

.top100modal .modal-title > .text {
    flex : 1 0 calc(100% - 30px);
    
}


.top100modal .modal-title > .button {
    flex : 1 0 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.top100modal .modal-title > .button:hover {
    color: #069;
}


.top100modal .modal-musiclists {
    max-height: 300px;
    overflow-y: scroll;
}

.top100modal .modal-item {
    display: flex;
    padding-left : 5px;
    padding-right: 5px;
    min-height: 50px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3rem;
    border : 3px solid #303030;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #303030;
}

.top100modal .modal-item:hover {
    border : 3px solid #069;
    color: #069;
}

.top100modal .newlistname {
    display: flex;
    flex-direction: row;
    align-content: center;
    min-height: 40px;
    margin: 5px;
}

.top100modal .newlistname > input[type="text"] {
    flex: 4 0 auto;
    outline: none;
    border: 2px solid #CCC;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.top100modal .newlistname > span {
    flex : 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'jua';
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 2px solid #CCC;
    cursor: pointer;
}

.top100modal .newlistname > span:hover {
    color: #069;
}