* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top100 {
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0%);
    border : 1px solid blue;
}

.top100 > div {
    display: inline-block;
    vertical-align: top;
}

.top100-left {
    border: 1px solid black;
    padding-right: 10px;
}

.top100-list-item {
    width: 100%;
    margin-bottom: 20px;
}

.top100-list-item > div {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100px;
}

.top100-list-item-ranking {
    width: 100px;
    border: 3px solid black;
    border-radius: 1rem;
}

.top100-list-item-ranking > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.top100-list-item-img {
    position: relative;
    width: 100px;
}

.top100-list-item-img::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.top100-list-item-album-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top100-list-item-info {
    width: 250px;
    padding-left: 20px;
}

.top100-list-item-info > div {
    position: relative;
    height : 33.33%;
}

.top100-list-item-info > div > p {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0 , -50%);
}

.top100-list-item-song {
    font-weight: bold;
}

.top100-list-item-singer {

}

.top100-list-item-album {
    color: #CCC;
}

.top100-list-item-buttons {
    width: 250px;
}

.top100-right {
    width: 400px;
    border: 1px solid black;
    padding-left: 10px;
}