.maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainform {

}

.maintable {
    
}

.maintable > td {
    border: 1px solid black;
}

.idinput {
    
}

.pwinput {
    
}

.signinbutton {

}

.signupbutton {

}