.search-result {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    width: 500px;
    border: 3px solid #EEE;
    border-radius: 1rem;
    margin-right: 20px;
    vertical-align: top;
}

.search-result .title {
    height: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.search-result .list {
    box-shadow: 0px 0px 5px 5px #AAA;
    height: 600px;
    margin-bottom: 10px;
}

.search-result .list > .list-item {
    height: 100px;
    border-top: 1px solid #CCC; 
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}

.search-result .list > .list-item-checked {
    background-color: #ccd4fc;
    border: 1px solid white;
    transition: background-color 0.4s 0s;
}

.search-result .list > .list-item:hover {
    border: 2px solid #069;
}

.search-result .list > .list-item > div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.search-result .list > .list-item-img-wrap {
    position: relative;
    width: 100px;
}

.search-result .list > .list-item-img-wrap::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.search-result .list > .list-item-img-wrap > .list-item-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-result .list > .list-item-info {
    padding-left: 10px;
    width: calc(100% - 100px);
    
    text-align: left;
}

.search-result .list > .list-item-info > div {
    position: relative;
    height: calc(100% / 3);
}

.search-result .list > .list-item-info > div > p {
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
}

.search-result .list > .list-item-info .list-item-song {
    font-weight: bold;
}

.search-result .list > .list-item-info .list-item-album {
    color: #888;
    font-weight: bold;
}

.search-result .pages {
    height: 40px;
    
    position: relative;
    text-align: center;
}

.search-result .pages > div {
    height: 100%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.search-result .pages > .page-wrap {
    width: calc(100% / 7 * 5);
    height: 100%;
    position: relative;
}

.search-result .pages > .page-wrap > div {
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 5);
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
    font-weight: bold;
    border: 1px solid #CCC;
    font-size: 1.2rem;
}

.search-result .pages > .page-wrap > .pagechoice {
    color: #069;
    background-color: #CCC;
}

.search-result .pages > .prev {
    width: calc(100% / 7);
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
}

.search-result .pages > .prev:active {
    color: #069;
}

.search-result .pages .prev > p {
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
}

.search-result .pages .next {
    width: calc(100% / 7);

}

.search-result .pages .next:active {
    color: #069;
}

.search-result .pages .next > p {
    position: relative;
    top: 50%;
    transform: translate(0 , -50%);
}
