* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.header-root {
    flex-basis: 1 1 80px;
    display: flex;
    justify-content: center;
    background-color: #303030;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
}





