* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.header-root {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #303030;
    text-align: center;
}





