.todayslive {
    padding: 5px 0px;
}

.todayslive-menu {
    margin-bottom: 5px;
    display: flex;
}

.todayslive-menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    border: 4px solid #303030;
    border-right: none;
}

.todayslive-menu-item:last-child {
    border-right: 4px solid #303030;
}

.todayslive-menu-item:hover {
    color: #069;
    cursor: pointer;
    background-color: #303030;
}

.todayslive-menu-item-text {
    padding : 5px;
}

.todayslive-body {
    display: flex;
    align-items: stretch;
    border: 2px solid #303030;
}

.todayslive-img-wrap {
    flex : 0 0 200px;
    position: relative;
}

.todayslive-img-wrap::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.todayslive-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.todayslive-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    padding : 0px 10px;
}

.todayslive-info > div {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}