.indexbody {
    flex: 9 0 auto;
    padding-left: 180px;
    padding-right: 180px;
}

.first {
    display: flex;
    justify-content: center;
}

.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.second-first {
    padding: 10px;
    flex: 1 1 300px;
}

.second-second {
    padding: 10px;
    flex: 1 1 300px;
}

.second-third {
    padding: 10px;
    flex: 1 1 300px;
}