.indexbody {
    height: calc(100% - var(--headerheight));
    overflow-y: scroll;
    padding-left: 180px;
    padding-right: 180px;
}

@media (max-width : 1000px) {
    .indexbody {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media (max-width : 600px) {
    .indexbody {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.first {
    display: flex;
    justify-content: center;
}

.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.second-first {
    padding: 10px;
    flex: 1 0 100px;
}

.second-second {
    padding: 10px;
    flex: 1 1 100px;
}

.second-third {
    padding: 10px;
    flex: 1 0 100px;
}