.mymusicview {
    height: 100%;    
    border: 1px solid red;
}

.mymusicview-left {
    left: 0%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    background-color: #EEE;
}

.left-navi {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    width: 20px;
    height: 20px;
    top: 50%;
}

.mymusicview-list-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'jua';
    font-size: 1.5rem;
    height: 80px;
    border-bottom:3px solid #303030;
    background-color: #505050;
}

.mymusicview-list-buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    border: 3px solid #CCC;
    width: 36px;
    height: 36px;
    color: #CCC;
    text-align: center;
    cursor: pointer;
}

.mymusicview-list-buttons > div:hover {
    border-color: #0AC;
    color: #0AC;
    background-color: #303030;
}

.mymusicview-listname {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'jua';
    font-size: 1.2rem;
    background-color: #EEE;
    height: 50px;
    border: 3px solid #303030;
    cursor: pointer;
    margin-top: -3px;
}

.mymusicview-listname:hover {
    background-color: #CCC;
    border : 3px solid #069;
    color: #069;
    z-index: 1;
}

.mymusicview-listname > .listname-left {
    flex : 9 0 auto;
    text-align: center;
}

.mymusicview-listname > .listname-right {
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mymusicview-center {
    display: flex;
    padding: 0px 300px;
}

.mymusicview-center-contents-wrap {
    flex: 1 0 auto;
    padding: 10px;
    height: 100%;
}

.selected-musiclist-name {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 2rem;
    font-family: 'jua';
}

.musiclist-no-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'jua';
    border: 4px dashed #303030;
    background-color: #EEE;
    font-size: 1.7rem;
    border-radius: 1rem;
    height: 500px;
}


.mymusicview-right {
    right: 0%;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 200px;
    border-top: 3px solid black;
}

.mymusicview-right > .right-buttons {
    display: flex;
    align-items: center;
    height: 50px;
    border: 3px solid black;
    border-top-width: 0px;
    padding : 10px;
    font-family: 'jua';
    color: #303030;
    cursor: pointer;
}

.mymusicview-right > .right-buttons:hover {
    background-color: #EEE;
    color: #069;
}