.toptenmusic {
    display: flex;
    flex-direction: column;
}

.toptenmusic-title {
    font-weight: bold;
    font-size: 1.5rem;
    border-top : 2px solid #BBB;
    border-left: 2px solid #BBB;
    border-bottom : 3px solid #303030;
    border-right: 3px solid #303030;

    text-align: center;
    color: #303030;
    margin-bottom: 10px;
    border-radius: 1.2rem;
}

.toptenmusic-list {
    display: flex;
    flex-direction: column;
}

.toptenmusic-list-item {
    flex: 1 0 30px;
    display: flex;
    justify-content: center;
}

.toptenmusic-list-item > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.toptenmusic-list-item:hover {
    background-color: #EEE;
    color: #069;
}


.toptenmusic-list-rank {
    width : 10%;
    font-weight: bold;
    text-align: center;
}

.rank1 {
    font-size: 1.5rem;
    color: #ffd700;
}

.rank1 > p > i{
    border: 2px solid #ffd700;
}

.rank2 {
    font-size: 1.5rem;
    color: #c0c0c0;
}

.rank2 > p > i{
    border: 2px solid #c0c0c0;
}

.rank3 {
    font-size: 1.5rem;
    color: #cd7f32;
}

.rank3 > p > i{
    border: 2px solid #cd7f32;
}


.toptenmusic-list-song {
    width : 35%;
    text-align: center;
}

.toptenmusic-list-singer {
    width : 35%;
    text-align: center;
}

.toptenmusic-list-buttons {
    width : 20%;
}

.toptenmusic-list-button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

