.toptenmusic {
    display: flex;
    flex-direction: column;
    font-family: 'jua';
    min-width: 300px;
}

.toptenmusic-title {
    font-weight: bold;
    font-size: 1.5rem;
    border-top : 2px solid #BBB;
    border-left: 2px solid #BBB;
    border-bottom : 3px solid #303030;
    border-right: 3px solid #303030;

    text-align: center;
    color: #303030;
    margin-bottom: 10px;
    border-radius: 1.2rem;
}

.toptenmusic-list {
    display: flex;
    flex-direction: column;
}

.toptenmusic-list-item {
    flex: 1 0 30px;
    display: flex;
    justify-content: center;
    color: #303030;
    padding: 3px;
    min-height: 35px;
}

.toptenmusic-list-item > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.toptenmusic-list-item:hover {
    color: #069;
    cursor: pointer;
}

.toptenmusic-list-item-selected {
    background-color: #303030;
    color: #EEE;
    border-radius: 1rem;
    border: 1px solid #EEE;
    
    transition: all .4s 0s;
}

.toptenmusic-list-item-unselected {
    background-color: transparent;
    color: #303030;

    border: none;
    transition: all .4s 0s;
}


.toptenmusic-list-rank {
    width : 20%;
    font-weight: bold;
    text-align: center;
}

.toptenmusic-list-rank > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank1 {
    font-size: 1.5rem;
    color: #ffd700;
}

.rank1 > p > i{
    border: 2px solid #ffd700;
}

.rank2 {
    font-size: 1.5rem;
    color: #c0c0c0;
}

.rank2 > p > i{
    border: 2px solid #c0c0c0;
}

.rank3 {
    font-size: 1.5rem;
    color: #cd7f32;
}

.rank3 > p > i{
    border: 2px solid #cd7f32;
}


.toptenmusic-list-song {
    width : 40%;
    text-align: center;
}

.toptenmusic-list-singer {
    width : 40%;
    text-align: center;
}

.toptenmusic-buttons {
    display: flex;
    flex-wrap: wrap;
}

.toptenmusic-buttons > div {
    flex: 1 0 auto;
    text-align: center;
    border: 2px solid #CCC;
    background-color: #303030;
    color: #EEE;
    padding: 5px;
    font-size: 0.8rem;
}

.toptenmusic-buttons > div:first-child {
    border-right: none;
}

.toptenmusic-buttons > div:last-child {
    border-left: none;
}

.toptenmusic-buttons > div:hover {
    color: #069;
    cursor: pointer;
}