* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.indexbody {
    margin-left: 180px;
    margin-right: 180px;
}

.first {
    width: 100%;
    min-width: 1000px;
}

.second {
    width: 100%;
    min-width: 1000px;
}


.second-first {
    padding-right: 10px;
    width: 25%;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}

.second-second {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    min-width: 400px;
    display: inline-block;
}

.second-third {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: 35%;
    min-width: 350px;
    height: 400px;
}